@font-face {
  font-family: 'TheJamsil5Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  --text: #1f1762;
  --bg: #ffffff;
  --sbbg: #ECF2FF;
  --actext: #E5D1FA;
  --ac: #FFF4D2;
  --title: #e5d1fa;
}

html.dark {
  --text: #ffffff;
  --bg: #453C67;
  --sbbg: #6D67E4;
  --actext: #46C2CB;
  --ac: #F2F7A1;
  --title: #F2F7A1;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}